<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Dr. Sillystringz's Factory</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="~/css/styles.css">
  <div class="nav">
    <nav class="navbar">
      <h3>Dr. Sillystringz's Factory</h3>
        <a href="/">HOME</a>
        <a href="/Engineers">ENGINEERS</a>
        <a href="/Machines">MACHINES</a>
    </nav>
  </div>
</head>

<body>
  
  @RenderBody()
</body>

</html>