@{
  Layout = "_Layout";
}

<h1> Welcome to the Dr. Sillystringz's Factory!</h1>
<hr />
<p>@Html.ActionLink("Show all engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Show all machines", "Index", "Machines")</p>