h1, h3 {
  color: rgb(5, 150, 142);
}

h2 {
  color: rgb(22, 219, 209);
}


h4{
  color: rgb(22, 140, 219)
}
.nav{
  background-color:  rgb(22, 219, 209);
}
.nav h3{
  color: rgb(5, 150, 142);
  text-align: center;
}
.nav a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}


